body {
	background-color: black;
}

txt {
	color: green;
}

h1 {
	text-align: center;
	color: #90EE90;
}

h2 {
	text-align: center;
	color: #90EE90;
}

td {
	text-align: center;
	color: #90EE90;
}

th {
	text-align: center;
	color: #90EE90;
}

p {
	text-align: center;
	color: #90EE90;
}


.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


#DIV1{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	margin-right: -112px;
	float:left;
}

#DIV2{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	float:center;
}

canvas { 
	background: gray; 
}

